body {
    background-color: rgb(73, 183, 232);
    background-image: url("../resources/weather.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
background-repeat: no-repeat;

}

.searchBox {
    text-align: center;
    margin: 0 auto;
    position: fixed;
    top: 40%;
    left: 35%;
}

input[type=text] {
    background-color: rgba(255,255,255,1);
    border-radius: 25px;
    height: 25px;
    width: 250px;
    break-after: auto;
    border: 2px solid black;
    font-weight: bold;
    text-transform: capitalize;
  }

button[type=submit]{
    border-radius: 25px;
    border: 2px solid black;
    font-weight: bold;

    margin-left: 90px;
    margin-top:  35px; 
   
}

table{
    background-color: rgba(0,0,0,0.8) ;
    width: 25%;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 35%;
}

#iconVal{
    text-align: left;
}

#nameVal{
    text-align: right;
    padding-right: 15%;
}

#tempVal{
    text-align: center;
    padding-left: 5%;
}

#pressureVal{
    text-align: right;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  

  
